<field params="options: options">

    <div class="dropdown">
        
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <!-- ko text: selectedItem --><!-- /ko -->
            <span class="caret"></span>
        </button>
        
        <ul class="dropdown-menu" role="menu" data-bind="foreach: options.items">
            <li data-bind="css: { selected: $parent.value() == value }">
                <a data-bind="text: text, click: $parent.select.bind($parent, $data)" tabindex="-1" href="#"></a>
            </li>
        </ul>
   
    </div>
    
    <input type="hidden" data-bind="value: value, attr: { name: name }"/>   
    
</field>